{% extends "notekeeper/base.html" %}
{% block body %}


<div class="mx-5">
 <div class="card my-3 mx-3" >
      <div class="card-header">
          <h1 class="display-4"> {{ note.title }} </h1>
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p> {{ note.content }} </p>
          <footer class="blockquote-footer"> {{ note.date_update }}</footer>
        </blockquote>
        
      
        
        <a class="btn btn-primary" href="{% url 'notekeeper:edit_single_note' note.id%}">Edit</a>
        <a href="{% url 'notekeeper:delete_note' note.id %}" class="btn btn-danger" href="">Delete</a>
   
      </div>
    </div>


      
</div>

    <div class="text-center">
    <a class="btn btn-primary" href="{% url 'notekeeper:index' %}">Go Back</a>
    </div>

</div>

{% endblock %}